@use "sass:color";

$primary-background-color: #F5F5F5;
$secondary-background-color: #237CBE;
$primary-text-color: #444;
$secondary-text-color: #777;
$primary-link-color: #2E6AA0;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: color.adjust($primary-background-color, $lightness: -20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #FAFBFF;
$fieldset-color: color.adjust($secondary-background-color, $lightness: 50%);
